[submodule "test-jmeter"]
	path = test-jmeter
	url = https://github.com/esign-consulting/logistics-test-jmeter
[submodule "test-arquillian"]
	path = test-arquillian
	url = https://github.com/esign-consulting/logistics-test-arquillian
[submodule "test-restassured"]
	path = test-restassured
	url = https://github.com/esign-consulting/logistics-test-restassured
[submodule "test-selenium"]
	path = test-selenium
	url = https://github.com/esign-consulting/logistics-test-selenium
